{{ define "admin" }}<a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
  <span class="avatar" style="background-image: url(./static/site_original_template/demo/faces/female/25.jpg)"></span>
  <span class="ml-2 d-none d-lg-block">
                      <span class="text-default">Jane Pearson</span>
                      <small class="text-muted d-block mt-1">Administrator</small>
                    </span>
</a>{{ end }}